In [27]:
import pandas as pd
import numpy as np

In [28]:
csv_file_path = 'AB_NYC_2019.csv'
df = pd.read_csv(csv_file_path)
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [29]:
print(df.shape)
print(df.info())

(48895, 16)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB
None

In [30]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [31]:
# remove not needed columns for model predictions
updated_df = df.drop(['id', 'name', 'host_id', 'host_name', 'last_review', 'calculated_host_listings_count'], axis=1)
updated_df.head()

,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,availability_365
0,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.21,365
1,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.38,355
2,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,365
3,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.64,194
4,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,0.10,0

In [32]:
# fill empty rows with 0
updated_df = updated_df.fillna(0)
updated_df.head()

,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,availability_365
0,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.21,365
1,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.38,355
2,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,0.00,365
3,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.64,194
4,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,0.10,0

In [33]:
# find rwos where price = 0 as that will not be helpful
updated_df = updated_df[updated_df['price'] != 0]

In [34]:
# create csv file
updated_df = updated_df[updated_df['minimum_nights'] <= 30]

In [35]:
updated_df.shape

(48137, 10)

In [36]:
updated_df[updated_df['price'] > 500].shape

(1012, 10)

In [37]:
updated_df[updated_df['price'] > 300].shape

(3290, 10)

In [38]:
updated_df = updated_df[updated_df['price'] <= 500]

In [39]:
updated_df.shape

(47125, 10)

In [40]:
updated_df[updated_df['availability_365'] == 0].shape

(17183, 10)

In [41]:
updated_df['is_available'] = (updated_df['availability_365'] > 0).astype(int)

In [42]:
updated_df.head()

,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,availability_365,is_available
0,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,0.21,365,1
1,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,0.38,355,1
2,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,0.00,365,1
3,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,4.64,194,1
4,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,0.10,0,0

In [43]:
updated_df.neighbourhood.nunique()

219

In [44]:
updated_df.neighbourhood_group.unique()

array(['Brooklyn', 'Manhattan', 'Queens', 'Staten Island', 'Bronx'],
      dtype=object)

In [45]:
updated_df.room_type.unique()

array(['Private room', 'Entire home/apt', 'Shared room'], dtype=object)

In [46]:
encoded_df = pd.get_dummies(updated_df, columns=['room_type', 'neighbourhood_group'], drop_first=False, dtype="int")
encoded_df.head()

,neighbourhood,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,availability_365,is_available,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,neighbourhood_group_Bronx,neighbourhood_group_Brooklyn,neighbourhood_group_Manhattan,neighbourhood_group_Queens,neighbourhood_group_Staten Island
0,Kensington,40.64749,-73.97237,149,1,9,0.21,365,1,0,1,0,0,1,0,0,0
1,Midtown,40.75362,-73.98377,225,1,45,0.38,355,1,1,0,0,0,0,1,0,0
2,Harlem,40.80902,-73.94190,150,3,0,0.00,365,1,0,1,0,0,0,1,0,0
3,Clinton Hill,40.68514,-73.95976,89,1,270,4.64,194,1,1,0,0,0,1,0,0,0
4,East Harlem,40.79851,-73.94399,80,10,9,0.10,0,0,1,0,0,0,0,1,0,0

In [47]:
freq_map = encoded_df['neighbourhood'].value_counts().to_dict()
encoded_df['neighbourhood_encoded'] = encoded_df['neighbourhood'].map(freq_map)
encoded_df.head()

,neighbourhood,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,availability_365,is_available,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,neighbourhood_group_Bronx,neighbourhood_group_Brooklyn,neighbourhood_group_Manhattan,neighbourhood_group_Queens,neighbourhood_group_Staten Island,neighbourhood_encoded
0,Kensington,40.64749,-73.97237,149,1,9,0.21,365,1,0,1,0,0,1,0,0,0,172
1,Midtown,40.75362,-73.98377,225,1,45,0.38,355,1,1,0,0,0,0,1,0,0,1362
2,Harlem,40.80902,-73.94190,150,3,0,0.00,365,1,0,1,0,0,0,1,0,0,2586
3,Clinton Hill,40.68514,-73.95976,89,1,270,4.64,194,1,1,0,0,0,1,0,0,0,551
4,East Harlem,40.79851,-73.94399,80,10,9,0.10,0,0,1,0,0,0,0,1,0,0,1097

In [48]:
encoded_df.drop(columns=['neighbourhood',], inplace=True)
encoded_df.head()

,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,availability_365,is_available,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,neighbourhood_group_Bronx,neighbourhood_group_Brooklyn,neighbourhood_group_Manhattan,neighbourhood_group_Queens,neighbourhood_group_Staten Island,neighbourhood_encoded
0,40.64749,-73.97237,149,1,9,0.21,365,1,0,1,0,0,1,0,0,0,172
1,40.75362,-73.98377,225,1,45,0.38,355,1,1,0,0,0,0,1,0,0,1362
2,40.80902,-73.94190,150,3,0,0.00,365,1,0,1,0,0,0,1,0,0,2586
3,40.68514,-73.95976,89,1,270,4.64,194,1,1,0,0,0,1,0,0,0,551
4,40.79851,-73.94399,80,10,9,0.10,0,0,1,0,0,0,0,1,0,0,1097

In [49]:
new_order =['latitude', 'longitude', 'minimum_nights', 'number_of_reviews', 'reviews_per_month', 'availability_365', 'neighbourhood_encoded', 'is_available', 'room_type_Entire home/apt', 'room_type_Private room', 'room_type_Shared room', 'neighbourhood_group_Bronx', 'neighbourhood_group_Brooklyn', 'neighbourhood_group_Manhattan', 'neighbourhood_group_Queens', 'neighbourhood_group_Staten Island', 'price']

In [50]:
encoded_df = encoded_df[new_order]

In [51]:
encoded_df.head()

,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,availability_365,neighbourhood_encoded,is_available,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,neighbourhood_group_Bronx,neighbourhood_group_Brooklyn,neighbourhood_group_Manhattan,neighbourhood_group_Queens,neighbourhood_group_Staten Island,price
0,40.64749,-73.97237,1,9,0.21,365,172,1,0,1,0,0,1,0,0,0,149
1,40.75362,-73.98377,1,45,0.38,355,1362,1,1,0,0,0,0,1,0,0,225
2,40.80902,-73.94190,3,0,0.00,365,2586,1,0,1,0,0,0,1,0,0,150
3,40.68514,-73.95976,1,270,4.64,194,551,1,1,0,0,0,1,0,0,0,89
4,40.79851,-73.94399,10,9,0.10,0,1097,0,1,0,0,0,0,1,0,0,80

In [52]:
columns_to_normalize = [
    'latitude',
    'longitude',
    'minimum_nights',
    'number_of_reviews',
    'reviews_per_month',
    'availability_365',
    'neighbourhood_encoded',
]

In [53]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
encoded_df[columns_to_normalize] = scaler.fit_transform(encoded_df[columns_to_normalize])

import joblib
joblib.dump(scaler, 'scaler.pkl')

['scaler.pkl']

In [54]:
encoded_df.head()

,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,availability_365,neighbourhood_encoded,is_available,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,neighbourhood_group_Bronx,neighbourhood_group_Brooklyn,neighbourhood_group_Manhattan,neighbourhood_group_Queens,neighbourhood_group_Staten Island,price
0,-1.482104,-0.450292,-0.557993,-0.327515,-0.559625,1.951071,-1.052684,1,0,1,0,0,1,0,0,0,149
1,0.454623,-0.696100,-0.557993,0.472766,-0.454140,1.874503,-0.088551,1,1,0,0,0,0,1,0,0,225
2,1.465598,0.206707,-0.313621,-0.527586,-0.689930,1.951071,0.903128,1,0,1,0,0,0,1,0,0,150
3,-0.795043,-0.178393,-0.557993,5.474527,2.189183,0.641754,-0.745620,1,1,0,0,0,1,0,0,0,89
4,1.273805,0.161642,0.541681,-0.327515,-0.627880,-0.843670,-0.303253,0,1,0,0,0,0,1,0,0,80

In [55]:
# #save to csv
# final_airbnb_df.to_csv('Cleaned_airbnb.csv')

In [56]:
target_scaler = StandardScaler()
encoded_df['price_scaled'] = target_scaler.fit_transform(encoded_df[['price']])

# Save target scaler too
joblib.dump(target_scaler, 'price_scaler.pkl')

['price_scaler.pkl']

In [57]:
encoded_df.head()

,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,availability_365,neighbourhood_encoded,is_available,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,neighbourhood_group_Bronx,neighbourhood_group_Brooklyn,neighbourhood_group_Manhattan,neighbourhood_group_Queens,neighbourhood_group_Staten Island,price,price_scaled
0,-1.482104,-0.450292,-0.557993,-0.327515,-0.559625,1.951071,-1.052684,1,0,1,0,0,1,0,0,0,149,0.198758
1,0.454623,-0.696100,-0.557993,0.472766,-0.454140,1.874503,-0.088551,1,1,0,0,0,0,1,0,0,225,1.061926
2,1.465598,0.206707,-0.313621,-0.527586,-0.689930,1.951071,0.903128,1,0,1,0,0,0,1,0,0,150,0.210115
3,-0.795043,-0.178393,-0.557993,5.474527,2.189183,0.641754,-0.745620,1,1,0,0,0,1,0,0,0,89,-0.482691
4,1.273805,0.161642,0.541681,-0.327515,-0.627880,-0.843670,-0.303253,0,1,0,0,0,0,1,0,0,80,-0.584908

In [58]:
encoded_df.drop(columns=['price'], inplace=True)

In [59]:
encoded_df.head()

,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,availability_365,neighbourhood_encoded,is_available,room_type_Entire home/apt,room_type_Private room,room_type_Shared room,neighbourhood_group_Bronx,neighbourhood_group_Brooklyn,neighbourhood_group_Manhattan,neighbourhood_group_Queens,neighbourhood_group_Staten Island,price_scaled
0,-1.482104,-0.450292,-0.557993,-0.327515,-0.559625,1.951071,-1.052684,1,0,1,0,0,1,0,0,0,0.198758
1,0.454623,-0.696100,-0.557993,0.472766,-0.454140,1.874503,-0.088551,1,1,0,0,0,0,1,0,0,1.061926
2,1.465598,0.206707,-0.313621,-0.527586,-0.689930,1.951071,0.903128,1,0,1,0,0,0,1,0,0,0.210115
3,-0.795043,-0.178393,-0.557993,5.474527,2.189183,0.641754,-0.745620,1,1,0,0,0,1,0,0,0,-0.482691
4,1.273805,0.161642,0.541681,-0.327515,-0.627880,-0.843670,-0.303253,0,1,0,0,0,0,1,0,0,-0.584908

In [60]:
X = encoded_df.drop(columns=['price_scaled'])
y = encoded_df['price_scaled']

In [61]:
encoded_df.to_csv('FinalCleaned.csv', index=False)

In [62]:
encoded_df.columns

Index(['latitude', 'longitude', 'minimum_nights', 'number_of_reviews',
       'reviews_per_month', 'availability_365', 'neighbourhood_encoded',
       'is_available', 'room_type_Entire home/apt', 'room_type_Private room',
       'room_type_Shared room', 'neighbourhood_group_Bronx',
       'neighbourhood_group_Brooklyn', 'neighbourhood_group_Manhattan',
       'neighbourhood_group_Queens', 'neighbourhood_group_Staten Island',
       'price_scaled'],
      dtype='object')